<section id="registraion">
  <div class="container">
    <div class="row">
      <div class="col-md-5 signupText">
        <p>Signup today to start keeping track of your various tasks and events..</p>
        <%= link_to 'Login', new_user_session_path, class: 'btn btn-danger' %>
      </div>

      <div class="col-md-7">
        <div class="signupForm">
          <%= render 'form' %>
        </div>
      </div>
    </div><!--/row-->
  </div><!--/container-->
</section>
