<section id="registraion">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <p>Signup today to start keep track of various tasks and events</p>
      </div>

      <div class="col-md-7">
        <div class="signupForm">
          <%= render 'form' %>
        </div>
      </div>
    </div>
  </div>
</section>

<%= render "devise/shared/links" %>
