<table class="table">
	<thead>
		<tr>
			<th>#</th>
			<th>Title</th>
			<th>D.o.C</th>
			<th>Status</th>
		</tr>
	</thead>

	<% @tasks.each do |task| %>
		<tbody>
			<tr>
				<td><%= task.id %></td>
				<td><%= link_to task.title, task %></td>
				<td><%= task.date %></td>
				<td><%= task.status %></td>
			</tr>
		</tbody>
	<% end %>
</table>