<section id="dashboard">
	<div class="container">
		<div class="row">
			<div id='custom-tab-section'>
			  <!-- Nav tabs -->
			  <ul class="nav nav-tabs" role="tablist">
			    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>

			    <li role="presentation"><a href="#task" aria-controls="task" role="tab" data-toggle="tab">Task</a></li>

			    <li role="presentation"><a href="#appointment" aria-controls="appointment" role="tab" data-toggle="tab">Appointments</a></li>

			    <li role="presentation"><a href="#overdue" aria-controls="overdue" role="tab" data-toggle="tab">Overdue Task</a></li>
			  </ul>
			  
			  <%= render 'tab_panel' %>
			</div>
		</div>
	</div>
</section>