<section id="custom_home_page">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2 class="title">Welcome Mr,West</h2>
			</div>
		</div><!--/row-->

		<div class="row">
			<% @tasks.each do |task| %>
				<div class="col-md-4">
					<h4 class="page-header">Pending Tasks</h4>
					<div class="ongoing-task-box">
						<li><%= task.title %></li>
					</div>
				</div><!--/col4-->
			<% end %>

			<div class="col-md-4">
				<h4 class="page-header">Ongoing Tasks</h4>
				<div class="ongoing-task-box">
					
				</div>
			</div><!--/col4-->

			<div class="col-md-4">
				<h4 class="page-header">Completed Tasks</h4>
				<div class="ongoing-task-box">
					
				</div>
			</div><!--/col4-->
		</div>
	</div>
</section>