<header id="header">
	<div class="container">
		<div class="jumbotron">
			<h1 class="title">Never miss your next appointment</h1>
			<%= link_to 'SignUp', '#', class: 'btn btn-primary' %>
			<%= link_to 'Login', '#', class: 'btn btn-danger' %>
		</div>
	</div>
</header><!-- /header -->


